<ion-view view-title="favor8" class="splash-page" hide-nav-bar="true">
	<ion-content scroll="false">
		<div class="padding logo">
			<h1> favor8 </h1>
			<h3> Tinder for Movie Trailers </h3>
		</div>
		<div class="login-form">
			<div class="card">
				<div class="list">
					<label class="item item-input" ng-show="form.signup">
						<input type="text" ng-model="form.firstname" placeholder="Enter your First Name">
					</label>
					<label class="item item-input" ng-show="form.signup">
						<input type="text" ng-model="form.firstname" placeholder="Enter your Last Name">
					</label>
					<label class="item item-input">
						<input type="text" ng-model="form.email" placeholder="Enter your Email Address">
					</label>
					<label class="item item-input">
						<input type="password" ng-model="form.password" placeholder="Enter your Password">
					</label>
					<label class="item item-input" ng-show="form.signup">
						<input type="text" ng-model="form.headline" placeholder="Enter your Headline (e.g. Founder of HelloApp)">
					</label>
				</div>
			</div>

			<div class="padding-left padding-right">
				<button class="button button-block action-button" ng-show="form.signUp"
				ng-class="{'button-positive': !form.signUp, 'button-balanced': form.signUp}"
				ng-click="submitSignUpForm(form.email, form.password, form.firstname, form.lastname, form.headline)">
					Sign up
				</button>

				<button class="button button-block action-button" ng-show="!form.signUp"
				ng-class="{'button-positive': !form.signUp, 'button-balanced': form.signUp}"
				ng-click="submitSignUpForm(form.email, form.password)">
					Log in
				</button>
			</div>
		</div>

		<div class="padding signup-opt" ng-click="form.signUp = !form.signUp">
			{{form.signUp ? 'Have an account? Sign in!' : 'Need an account? Sign up!'}}
		</div>
	</ion-content>
</ion-view>